@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Josefin+Sans:ital,wght@1,300&display=swap');

:root{
    --headings: #182628;
    --text: #f2f2f2;
    --background: #65ccb8;
    --headings-font-family: 'Comfortaa', cursive;
    --text-font-family: 'Josefin Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-family);
    color: var(--text);
}

.animation-container{
    border: 0 solid white;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    position: relative;
}

.cloud1{
    left: 8px;
    top: 30px;
    display: inline-block;
    margin-top: 110px;
    position: absolute;
    animation-name: cloudAni;
    animation-duration: 55s;
    animation-iteration-count: infinite;
}

.cloud1 img{
    height: 56%;
    width: 55%;
}

.cloud2{
    left: 18px;
    top: 30px;
    margin-left: 220px;
    margin-top: 110px;
    display: inline-block;
    position: relative;
    animation-name: cloudAni;
    animation-duration: 55s;
    animation-iteration-count: infinite;
}

.cloud2 img{
    height: 98%;
    width: 98%;
}

.mountain{
    display: inline-block;
    position: relative;
    bottom: 188px;
}
.mountain img{
    width: 100%;
}

@keyframes cloudAni{
    0%{left: 18px; top: 30px;}
    10%{left: 20px; top: 33px;}
    25%{left: 35px; top: 50px;}
    35%{left: 25px; top: 35px;}
    45%{left: 15px; top: 35px;}
    55%{left: 10px; top: 29px;}
    65%{left: 8px; top: 25px;}
    75%{left: 10px; top: 21px;}
    85%{left: 14px; top: 23px;}
    95%{left: 17px; top: 28px;}
    100%{left: 20px; top: 33px;}
}

h2{
    color:var(--headings);
    font-family: var(--headings-font-family);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
p{
    line-height: 2;
}

hr{
    border: dotted var(--text) 16px;
    border-bottom: none;
    margin: 5rem auto;
    width: 4%;
}

.middle-container{
    margin: 5rem 0;
}

.image-cropper{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-size:contain;
    background-position:center;
    margin: 0 auto;
}

.profile-img{
    margin: 0 auto;
    display: inline;
    height: 100%;
    width: auto;
}
.skill_row{
    width: 50%;
    text-align: left;
    margin: 2rem auto;
    overflow: hidden;
}
.code-img{
    width: 25%;
    float: left;
    margin-right: 2rem;
}
.lang-img{
    width: 25%;
    float: right;
    /* margin-left: 2rem; */
}
.contact-me{
    align-items: center;
}

.btn  {
    display: inline-block;
    /* width: 5%; */
    background-color: #199319;
    text-decoration: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 4%;
    /* margin-left: 43rem; */
    /* margin-top: 10px; */
    /* margin-bottom: 1cm; */
    margin: 0 auto;
    transition: all 0.4s;
}

.btn:hover{
    background-color: #182628;
}

/* .copyright{
    margin: 5rem;
} */

.bottom-link{
    display: inline-block;
    margin: 1rem;
}

/* .bottom-link a {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

.li-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}

.li-wrapper a {
    text-decoration: none;
    color: var(--text);
}



/*h1{
    font-family: var(--headings-font-family);
}*/

