@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Josefin+Sans:ital,wght@1,300&display=swap');

:root{
    --headings: #182628;
    --text: #f2f2f2;
    --background: #65ccb8;
    --headings-font-family: 'Comfortaa', cursive;
    --text-font-family: 'Josefin Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-family);
    color: var(--text);
}

h2{
    color:var(--headings);
    font-family: var(--headings-font-family);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
p{
    line-height: 2;
}

hr{
    border: dotted var(--text) 16px;
    border-bottom: none;
    margin: 5rem auto;
    width: 4%;
}

.middle-container{
    margin: 5rem 0;
}

.image-cropper{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-size:contain;
    background-position:center;
    margin: 0 auto;
}

.profile-img{
    margin: 0 auto;
    display: inline;
    height: 100%;
    width: auto;
}

/*h1{
    font-family: var(--headings-font-family);
}*/

